<div class="modal fade" id="board-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">New Board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@board) do |form| %>
        <div class="modal-body">
          <% if @board.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

              <ul>
              <% @board.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group row">
            <%= form.label :title, for: "title", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-10">
              <%= form.text_field :title, id: "title", class: "form-control", placeholder: "Title" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
