<div class="container">
  <%= link_to new_board_path, class: 'btn btn-sm btn-primary float-right', title: 'New Board' do %>
    <i class="fa fa-plus"></i> New Board
  <% end %>
  <h2>Boards</h2>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <% @boards.each do |board| %>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <%= link_to new_task_path, class: 'btn btn-sm btn-primary float-right', title: 'New Task' do %>
                <i class="fa fa-plus"></i> New Task
              <% end %>
              <%= link_to board.title, board %>
            </div>
          </div>
          <div class="card-body">
            <div class="card-text">
              <% board.tasks.each do |board_task| %>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <%= link_to board_task, class: 'btn btn-sm btn-danger float-right', title: 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                      <% if board_task.done? %>
                        <%= link_to task_check_path(controller: 'tasks', action: 'uncheck', task_id: board_task.id), class: 'btn btn-sm btn-danger float-left', title: 'Undo' do %>
                          <i class="fa fa-undo"></i>
                        <% end %>
                      <% else %>
                        <%= link_to task_check_path(controller: 'tasks', action: 'check', task_id: board_task.id), class: 'btn btn-sm btn-success float-left', title: 'Check' do %>
                          <i class="fa fa-check"></i>
                        <% end %>
                      <% end %>
                      <% if board_task.done? %>
                      <button class="btn btn-link" style="text-decoration: line-through" type="button" data-toggle="collapse" data-target="#collapse<%=board_task.id.to_s%>" aria-expanded="false" aria-controls="collapse<%=board_task.id.to_s%>">
                        <%= board_task.title %>
                      </button>
                      <% else %>
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%=board_task.id.to_s%>" aria-expanded="false" aria-controls="collapse<%=board_task.id.to_s%>">
                        <%= board_task.title %>
                      </button>
                      <% end %>
                    </div>
                    <div id="collapse<%=board_task.id.to_s%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <%= board_task.description %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
